.label {
	display: flex;
	align-items: center;
	gap: 12px;
	height: 48px;
	padding: 0px 16px;
	align-self: stretch;

	border-radius: 8px;
	border: 1px solid var(--noble-black-500);
	background: var(--noble-black-600);

	transition: all 0.2s ease-in-out;

	&:focus-within {
		box-shadow: 0px 0px 0px 4px rgba(132, 220, 245, 0.24);
		border: 1px solid var(--stem-green-500);
	}

	&:hover {
		border: 1px solid var(--stem-green-500);
	}

	input {
		background: transparent;
		border: 0;
		height: 100%;
		width: 100%;
		outline: none;
		color: #fff;

		/* Body/L/Medium */
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 24px; /* 150% */
		letter-spacing: 0.15px;

		&::placeholder {
			color: var(--noble-black-300);
		}
	}

	&.error {
		border-color: var(--red-power-600);
	}
}

.error {
	color: var(--red-power-600);
}
